{% extends 'base.html.twig' %}

{% block title %}{{ 'Timité & Sons | Achat & vente ' }} {% endblock %}
{% block slide %}
    {{ include('includes/slide.html.twig') }}
{% endblock %}
{% block info %}
    {{ include('includes/info.html.twig') }}
{% endblock %}
{% block body %}
    <!-- New Area Start -->
    <div class="feature-area three pb-75">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content-menu mb-30">
                        <div class="feature-tab feature-title">
                            <ul class="nav" role="tablist">
                                <li><a href="#tab1" class="active" data-toggle="tab" role="tab" aria-controls="tab1">{{ 'Articles à la une' }}</a></li>
                                <li><a href="#tab2" aria-controls="tab2" aria-selected="false" role="tab" data-toggle="tab">{{ 'En solde' }}</a></li>
                                <li><a href="#tab3" aria-controls="tab3" aria-selected="false" role="tab" data-toggle="tab">{{ 'Meilleurs produits' }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active show fade" id="tab1" role="tabpanel">
                            <div class="product-carousel owl-carousel">
                                {% for i in 1..7 %}
                                    <div class="feature-item">
                                        <div class="feature-img">
                                            <a href=""><img src="{{ asset('global/img/product/product1'~loop.index~'.jpg') }}" alt="feature"></a>
                                            <span class="new">new</span>
                                            <span class="sale">{{ '-10%' }}</span>
                                            <a class="btn-quickview1  modal-view" href="#" data-toggle="modal" data-target="#productModal"></a>
                                        </div>
                                        <div class="feature-content text-center">
                                            <p><a href="shop.html">{{ 'Nom de l\article'~loop.index }}</a></p>
                                            <div class="product-rating">
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="price-box">
                                                <span>{{ '2.500F' }} <del>{{ '3.500F' }}</del></span>
                                            </div>
                                            <div class="hover-cart">
                                                <ul>
                                                    <li><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
                                                    <li class="add"><a href="cart.html">{{ 'Acheter' }}</a></li>
                                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab2" role="tabpanel">
                            <div class="product-carousel owl-carousel">
                                {% for i in 1..7 %}
                                    <div class="feature-item">
                                        <div class="feature-img">
                                            <a href=""><img src="{{ asset('global/img/product/product2'~loop.index~'.jpg') }}" alt="feature"></a>
                                            <span class="new">{{ 'solde' }}</span>
                                            <span class="sale">{{ '-10%' }}</span>
                                            <a class="btn-quickview1  modal-view" href="#" data-toggle="modal" data-target="#productModal"></a>
                                        </div>
                                        <div class="feature-content text-center">
                                            <p><a href="shop.html">{{ 'Nom de l\article'~loop.index }}</a></p>
                                            <div class="product-rating">
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="price-box">
                                                <span>{{ '2.500F' }} <del>{{ '3.500F' }}</del></span>
                                            </div>
                                            <div class="hover-cart">
                                                <ul>
                                                    <li><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
                                                    <li class="add"><a href="cart.html">{{ 'Acheter' }}</a></li>
                                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab3" role="tabpanel">
                            <div class="product-carousel owl-carousel">
                                {% for i in 1..7 %}
                                    <div class="feature-item">
                                        <div class="feature-img">
                                            <a href=""><img src="{{ asset('global/img/product/product'~loop.index~'.jpg') }}" alt="feature"></a>
                                            <span class="new">{{ 'Best' }}</span>
                                            <span class="sale">{{ 'Best' }}</span>
                                            <a class="btn-quickview1  modal-view" href="#" data-toggle="modal" data-target="#productModal"></a>
                                        </div>
                                        <div class="feature-content text-center">
                                            <p><a href="shop.html">{{ 'Nom de l\article'~loop.index }}</a></p>
                                            <div class="product-rating">
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="price-box">
                                                <span>{{ '2.500F' }} <del>{{ '3.500F' }}</del></span>
                                            </div>
                                            <div class="hover-cart">
                                                <ul>
                                                    <li><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
                                                    <li class="add"><a href="cart.html">{{ 'Acheter' }}</a></li>
                                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New Area End -->
    <!-- Banner Collection Area End -->
    <div class="banner-area mb-70">
        <div class="container">
            <div class="row">
                {% for i in 1..6 %}
                <div class="col-md-4 col-6 mb-30">
                    <div class="banner-image">
                        <a href="#"><img src="{{ asset('global/img/banner/banner1'~loop.index~'.jpg') }}" alt="banner"></a>
                        <a href="#" class="con"><span>{{ 'Collection0'~loop.index }}</span></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Banner Collection Area End -->
    <!-- Feature Area Start -->
    <div class="feature-area pb-75">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="feature-title mb-30">
                        <div class="section-title-one">
                            <h3>{{ 'Meilleurs Ventes' }}</h3>
                        </div>
                        <div class="feature-tab">
                            <ul class="nav" role="tablist">
                                {% for i in 1..5 %}
                                <li><a href="#tab{{ loop.index }}" class="active" data-toggle="tab" role="tab" aria-controls="tab1">Cat best{{ loop.index }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        {% for i in 1..6 %}
                        <div class="tab-pane {% if loop.first %} active show {% endif %} fade" id="tab{{ loop.index }}" role="tabpanel">
                            <div class="product-carousel owl-carousel">
                                {% for i in 1..6 %}
                                    <div class="feature-item">
                                        <div class="feature-img">
                                            <a href=""><img src="{{ asset('global/img/product/product2'~loop.index~'.jpg') }}" alt="feature"></a>
                                            <span class="new">{{ 'Best' }}</span>
                                            <span class="sale">{{ 'Best' }}</span>
                                            <a class="btn-quickview1  modal-view" href="#" data-toggle="modal" data-target="#productModal"></a>
                                        </div>
                                        <div class="feature-content text-center">
                                            <p><a href="shop.html">{{ 'Nom de l\article'~loop.index }}</a></p>
                                            <div class="product-rating">
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="price-box">
                                                <span>{{ '2.500F' }} <del>{{ '3.500F' }}</del></span>
                                            </div>
                                            <div class="hover-cart">
                                                <ul>
                                                    <li><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
                                                    <li class="add"><a href="cart.html">{{ 'Acheter' }}</a></li>
                                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Area End -->
    <!-- Banner Area Start -->
    <div class="banner-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="women-title">
                        <h2>Soldes Boutique</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-6 mb-30">
                    <div class="banner-image">
                        <a href="#"><img src="{{ asset('global/img/banner/banner1.png') }}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-4 col-6 mb-30">
                    <div class="banner-image">
                        <a href="#"><img src="{{ asset('global/img/banner/banner2.png') }}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-4 col-6 mb-30">
                    <div class="banner-image">
                        <a href="#"><img src="{{ asset('global/img/banner/banner3.png') }}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->
    <!-- Offer Area Start -->
    <div class="offer-area two three pt-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="offer-content text-center">
                        <h2>{{ 'Offre Spéciale' }}</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet <span>dolore magna aliquam erat volutpat.</span></p>
                    </div>
                    <div class="row">
                        <div class="offer-carousel owl-carousel">
                            <div class="offer-countdown">
                                <div class="offer-owl">
                                    <div class="single-offer fix">
                                        <div class="offer-img">
                                            <img src="{{ asset('global/img/banner/offer1.jpg') }}" alt="offer">
                                        </div>
                                        <div class="offer-details">
                                            <div class="timer">
                                                <div data-countdown="2018/09/14" class="timer-grid"></div>
                                            </div>
                                            <h2><a href="product-details.html">{{ 'Nom de l\'article' }}</a></h2>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="price-box">
                                                <span>{{ '20.000 F' }} <del>{{ '35.000 F' }}</del></span>
                                            </div>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore..</p>
                                            <div class="price-cart">
                                                <a href="#" class="add">{{ 'Acheter' }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer Area End -->
    <!-- Category Area End -->
    <div class="category-area three mb-100 mt-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-40">
                    <div class="section-title-one feature-title">
                        <h3>{{ 'Departements' }}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="category-carousel owl-carousel">
                    {% for i in  1..8 %}
                        <div class="col-md-12">
                            <div class="single-category">
                                <div class="category-img">
                                    <a href="#"><img src="{{ asset('global/img/banner/feature'~loop.index~'.png') }}" alt="feature"></a>
                                </div>
                                <div class="category-content">
                                    <ul>
                                        <li class="head"><a href="">{{ 'Departement0'~loop.index }}</a></li>
                                        {% for i in 1..6 %}
                                        <li><a href="">{{ 'Categories0'~loop.index }} </a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Category Area End -->
    <!-- Client Area Start -->
    <div class="client-area three">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-one feature-title">
                        <h3>{{ 'Nos Marques' }}</h3>
                    </div>
                </div>
            </div>
            <div class="row mt-50 mb-50">
                <div class="client-carousel owl-carousel">
                    {% for i in 1..6 %}
                        <div class="single-client">
                            <img src="{{ asset('global/img/icon/logo'~loop.index~'.png') }}" alt="client">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Client Area End -->
{% endblock %}