<!-- Facilities Area Start -->
<div class="facilities-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-facilitie">
                    <div class="facilitie-icon">
                        <img src="{{ asset('global/img/icon/facilitie1.png') }}" alt="{{ 'Livraison gratuite' }}">
                    </div>
                    <div class="facilitie-content">
                        <h3>{{ 'Livraison gratuite' }}</h3>
                        <p>{{ 'Achat de plus de 15.000 FCFA'|capitalize }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-facilitie">
                    <div class="facilitie-icon">
                        <img src="{{ asset('global/img/icon/facilitie2.png') }}" alt="{{ 'Retour Garantie' }}">
                    </div>
                    <div class="facilitie-content">
                        <h3>{{ 'Retour Garantie' }}</h3>
                        <p>{{ '100% Remboursé' }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-facilitie">
                    <div class="facilitie-icon">
                        <img src="{{  asset('global/img/icon/facilitie3.png') }}" alt="{{ 'Support 24h/24h' }}">
                    </div>
                    <div class="facilitie-content">
                        <h3>{{ 'Support 24h/24h' }}</h3>
                        <p>{{ '24h/7j du Lundi au Samedi' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facilities Area End -->