<!-- Header Area Start -->
<header>
    <div class="main-header">
        <div class="mainmenu-area">
            <div class="wsmenucontainer clearfix header-sticky">
                <div class="overlapblackbg"></div>
                <div class="wsmobileheader clearfix">
                    <a id="wsnavtoggle" class="animated-arrow"><span></span></a>
                    <a class="smallogo"><img src="images/sml-logo.png"  alt="" /></a>
                    <a class="callusicon" href="tel:{{ phonenumber }}"><span class="fa fa-phone"></span></a>
                </div>
                <div class="headtoppart clearfix">
                    <div class="headerwp">
                        <div class="headertopleft">
                            <div class="address clearfix"><span><i class="fa fa-map-marker" aria-hidden="true"></i> {{ address }} </span>  <a href=""><i class="fa fa-phone" aria-hidden="true"></i> {{ phonenumber }}</a></div>
                        </div>
                        <div class="headertopright">
                            <a class="facebookicon" title="Facebook" href="{{ facebook }}"><i aria-hidden="true" class="fa fa-facebook"></i> <span class="mobiletext02">Facebook</span></a>
                            <a class="twittericon" title="Twitter" href="{{ twitter }}"><i aria-hidden="true" class="fa fa-twitter"></i> <span class="mobiletext02">Twitter</span></a>
                            <a class="linkedinicon" title="Linkedin" href="{{ linkedin }}"><i aria-hidden="true" class="fa fa-linkedin"></i> <span class="mobiletext02">Linkedin</span></a>
                            <a class="googleicon" title="Google" href="{{ google }}"><i aria-hidden="true" class="fa fa-google"></i> <span class="mobiletext02">Google</span></a>
                        </div>
                    </div>
                </div>
                <div class="headerfull">
                    <!--Main Menu HTML Code-->
                    <div class="wsmain">
                        <div class="smllogo"><a href="#"><img src="images/sml-logo.png" alt=""/></a></div>
                        <nav class="wsmenu clearfix">
                            <ul class="mobile-sub wsmenu-list">
                                <li><a href="#" class="navtext"><span>{{ 'Acheter' }} {{ 'Par' }}</span> <span>{{ 'Departement'|capitalize }}</span></a>
                                    <div class="wsshoptabing wstfullmenubg01 clearfix" id="allcategories">
                                        <div class="wsshoptabingwp clearfix">
                                            <ul class="wstabitem clearfix">
                                                {% for i in 1..8 %}
                                                    <li {% if loop.first %} class="wsshoplink-active" {% endif %}><a href="#wstabcontent0{{ loop.index }}"><i class="fa fa-play-circle"></i> {{ 'Departement '~ loop.index }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            <div class="wstabcontent clearfix">
                                                {% for i in 1..8 %}
                                                    <div id="wstabcontent0{{ loop.index }}" class="wsshoptab-active clearfix wstitemright clearfix">
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                {% for i in 1..6 %}
                                                                <div class="col-lg-3 col-md-12 clearfix">
                                                                    <ul class="wstliststy02 clearfix">
                                                                        <li class="wstheading clearfix">{{ 'Categorie0'~loop.index }}</li>
                                                                        {% for i in 1..5 %}
                                                                        <li><a href="#">{{ 'section0'~loop.index }} </a></li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#" class="navtext"><span>{{ 'Acheter par' }}</span> <span>{{ 'Marques' }}</span></a>
                                    <div class="wsshoptabing wstfullmenubg02 clearfix" id="allbrands">
                                        <div class="wstfullwtag clearfix">
                                            <div class="wsshoptabingwp clearfix">
                                                <ul class="wstabitem02 clearfix">
                                                    {% for i in 1..8 %}
                                                    <li {% if loop.first %} class="wsshoplink-active" {% endif %}><a href="#wstabitem02-0{{ loop.index }}"><i class="fa fa-apple" aria-hidden="true"></i>{{ 'Marque0'~loop.index }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="wsshoptabingwp clearfix">
                                            <div class="wstabcontent02 clearfix">
                                                {% for i in 1..8 %}
                                                    <div id="wstabitem02-0{{ loop.index }}" class="wsshoptab-active clearfix">
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                {% for i in 1..4 %}
                                                                    <div class="col-lg-3 col-md-12">
                                                                        <ul class="wstliststy02 clearfix">
                                                                            <li class="wstheading clearfix">{{ 'Categorie0'~loop.index }} </li>
                                                                            {% for i in 1..5 %}
                                                                            <li><a href="#">List Products 01</a></li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>




                                </li>
                                <li class="wssearchbar clearfix">
                                    <form class="topmenusearch" action="#">
                                        <input placeholder="chercher un produit...">
                                        <button class="btnstyle"><i class="searchicon fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                </li>
                                <li class="wscarticon clearfix">
                                    <a href="#"><i class="fa fa-shopping-basket"></i> <em class="roundpoint">8</em><span class="mobiletext">{{ 'Panier' }}</span></a>
                                </li>
                                <li class="wsshopmyaccount clearfix"><a href="#"><i class="fa fa-align-justify"></i>{{ 'Mon compte' }}<i class="fa  fa-angle-down"></i></a>
                                    <ul class="wsmenu-submenu">
                                        <li><a href="#"><i class="fa fa-black-tie"></i>{{ 'Profile' }}</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i>{{ 'Mes favoris' }}</a></li>
                                        <li><a href="#"><i class="fa fa-bell"></i>{{ 'Mes commandes' }}</a></li>
                                        <li><a href="#"><i class="fa fa-question-circle"></i>{{ 'Centre d\'aide' }}</a></li>
                                        <li><a href="#"><i class="fa fa-sign-out"></i>{{ 'Se deconnecter' }}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--Menu HTML Code-->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->